
<div class="header_02">DMS Home</div>

<div class="margin_bottom_20"></div>

<!-- BOXES -->

<section id="boxes" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center border-primary">
            
            <div class="card-body h-100">
              <h3>Gate</h3>

              <a [routerLink]="['/gate']" class="">            
                <img src="../../assets/images/icon17_5.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              </a>
              
              <p>Process/Manage Acceptances, Bookings, In/Out Gates, and Equipment Inventory.</p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center border-primary">
            <div class="card-body h-100">
              <h3>Repair</h3>

              <a [routerLink]="['/repair']" class="">            
                <img src="../../assets/images/icon18_2.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              </a>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, quibusdam.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center border-primary">
            <div class="card-body h-100">
              <h3>Monitoring</h3>

              <a [routerLink]="['/monitoring']" class="">            
                <img src="../../assets/images/icon19_3.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              </a>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, quibusdam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

