<navmenu></navmenu>

<div class='container'>

  <div id="mainContent" class="app-component">
      <router-outlet></router-outlet>
  </div>

</div>

<!-- MAIN FOOTER -->

<footer id="main-footer" class="bg-light fixed-bottom">
        <div id="footer-content">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <div class="py-4">
                    <!-- <h1 class="h3">Newport Systems</h1> -->
                    <p style="font-style:italic">Designed & Developed by <a href="http://www.newportsystemsusa.com" style="color:white" class="" target="_blank">Newport Systems</a> - Copyright &copy; 2016 - {{ crDate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
</footer>
        
        