<div class="header_02">Gate Home</div>

<div class="margin_bottom_20"></div>

<div class="row">
    <div class="col-md-4">
        <a [routerLink]="['/gateDashboard']" class="">            
            <img src="../../assets/images/dashboard.png" alt="" class="img-fluid w-75 mb-3">
        </a>
    </div>

    <div class="col-md-4">
        <a [routerLink]="['/gateAcceptance']" class="">            
            <img src="../../assets/images/acceptances.png" alt="" class="img-fluid w-75 mb-3">
        </a>    
    </div>

    <div class="col-md-4">
        <a [routerLink]="['/gateBooking']" class="">            
            <img src="../../assets/images/bookings.png" alt="" class="img-fluid w-75 mb-3">
        </a>        
    </div>
</div>

<div class="row">
        <div class="col-md-4">
            <a [routerLink]="['/gateInventory']" class="">            
                <img src="../../assets/images/inventory.png" alt="" class="img-fluid w-75 mb-3">
            </a>
        </div>
    
        <div class="col-md-4">
            <a [routerLink]="['/gateFind']" class="">            
                <img src="../../assets/images/findEir.png" alt="" class="img-fluid w-75 mb-3">
            </a>    
        </div>
    
    </div>